:root {
  --prism-skew: black;
  --prism-bg-skew: white;
  --prism-maintext: var(--bs-fg-body);
  --prism-background: transparent;
  --prism-text: color-mix(in srgb, var(--bs-gray-500) 70%, var(--prism-skew));
  --prism-punctuation: color-mix(in srgb, var(--bs-gray-500) 70%, var(--prism-skew));
  --prism-namespace: var(--prism-text);
  --prism-keywords: color-mix(in srgb, var(--bs-blue-500) 70%, var(--prism-skew));
  --prism-strings: color-mix(in srgb, var(--bs-green-500) 70%, var(--prism-skew));
  --prism-symbol: color-mix(in srgb, var(--bs-pink-500) 70%, var(--prism-skew));
  --prism-type: color-mix(in srgb, var(--bs-red-500) 70%, var(--prism-skew));
  --prism-regex: color-mix(in srgb, var(--bs-orange-500) 70%, var(--prism-skew));
  --prism-deleted: color-mix(in srgb, var(--bs-red-500) 70%, var(--prism-skew));
  --prism-url: color-mix(in srgb, var(--bs-warning-fg-emphasis) 70%, var(--prism-skew));
}

[data-bs-theme='dark'] {
  --prism-skew: white;
  --prism-bg-skew: black;
}

.card pre[class*="language-"] {
  border: none;
}

